
.idea/note.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/AlibabaShopping.iml
shopping-user/mvnw.cmd
shopping-user/mvnw
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_1_7_RELEASE.xml
.idea/compiler.xml
.idea/libraries/Maven__junit_junit_4_12.xml
shopping-user/pom.xml
shopping-user-web/pom.xml
shopping-user-web/mvnw.cmd
shopping-user-web/mvnw
shopping-user-service/pom.xml
shopping-user-service/mvnw.cmd
shopping-user-service/mvnw
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__junit_junit_4_13_beta_3.xml
.idea/libraries/Maven__junit_junit_4_7.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_1_RELEASE.xml
shopping-parent/pom.xml
